/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;

}

body {
  background-color: #1e3932;
}

h1 {
  color: white;
  font-size: 2.5em;
  margin: 0;
  
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width:50em;
  margin: auto;
  gap: 10px;
  padding:0px 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  padding: 10px 10px;
  margin: 0px 0px 5px 0px;
  background-color: rgb(204, 204, 204);
  font-size: 1.5em;
  border-radius: 0.2em;

}

section.city-list {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  border: 1px solid #d4e9e2;
  border-radius: .2em;
  padding: 20px;
  
}

.city-item {
  background-color: #00754a;
  height: 3.5vh;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  
}